@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}

<div class="ConsolidadosReportes">
<div class="frame">

<iframe src="../../Reports/TotalSeguimientosMensuales.aspx" class="frameReportes"  scrolling="no"  frameborder="0"></iframe>

</div>
</div>


