@model IEnumerable<PetroOperaciones.Models.ArchivoDocumento>
           
@{
    ViewBag.Title = "List";
    WebGrid grid = new WebGrid(Model,canPage:false);
}
<div class="Consolidados">
@grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        tableStyle: "table table-bordered",
        headerStyle: "encabezado-grid",
        footerStyle: "pie-grid",
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
    columns: new [] {
         grid.Column("ArchivoDocumentoID", 
                header: "No",
                format: p=>p.ArchivoDocumentoID),        
         grid.Column("TipoDocumentoNm", 
                header: "Tipo Documento",
                format: p=>p.TipoDocumento.TipoDocumentoNm),
         grid.Column("NoDocumento", 
                header: "No Documento",
                format: p=>p.NoDocumento) ,                 
         grid.Column("NombreArchivo", 
                header: "Archivo",
                format: p=>p.NombreArchivo) ,  
         grid.Column("Nombre", 
                header: "Responsable",
                format: p=>p.Usuario.Nombre) ,   
        grid.Column("VisibleCliente", 
                header: "Visible por el Cliente",
                format: (item) => @Html.Raw("<input type='checkbox' " + ((item.VisibleCliente==true) ? "checked" : "") + " disabled='disabled' />")) ,                               
         grid.Column("FechaRegistro", 
                header: "Fecha de Subida",
                format: (item) => item.FechaRegistro.ToString("dd/MM/yyyy")),
        grid.Column("FechaRegistro", 
                header: "Hora de Subida",
                format: (item) => item.FechaRegistro.ToString("HH:mm")),
         grid.Column("NombreArchivo", 
                header: "Descargar",
                format: (item) => Html.ActionLink("Descargar", "../ArchivosSubidos/"+((string)item.NombreArchivo))),                 
         grid.Column("", 
                header: "Eliminar",
                format: @<text> @Html.ActionLink("Eliminar", "Delete", new { id = item.ArchivoDocumentoID })  </text>                 
                )                                
})
</div>